body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.startingPage {
  background-image: url("../assets/startGamePage.png");
  background-repeat: no-repeat;
  background-size: 60vh;
  background-position: relative;
  background-position: 450px;
  height: 100vh;
  background-color: #f0fefe;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h3 {
  color: #db4256;
  font-size: 18px;
  padding-top: 600px;
  margin-bottom: -10px;
}

h4 {
  color: #db4256;
  font-size: 18px;
}

.startButton {
  font-size: 20px;
  width: 150px;
  margin-bottom: 250px;
  padding: 10px;
  border-radius: 10%;
  background-color: rgba(217, 213, 93, 255);
  box-shadow: 10px 5px 5px #db4256;
}

.tryAgainButtonLost {
  font-size: 20px;
  color: rgb(255, 255, 255);
  width: 300px;
  position: relative;
  bottom: 140px;
  left: 570px;
  padding: 10px;
  background-color: #2a4d83;
  /* box-shadow: 10px 5px 5px #dedfc0; */
  border-radius: 5%;
  border-color: rgb(255, 255, 255);
}

.tryAgainButtonWon {
  font-size: 20px;
  color: rgb(255, 255, 255);
  width: 300px;
  position: relative;
  bottom: 90px;
  left: 570px;
  padding: 10px;
  background-color: #d7977d;
  border-radius: 5%;
  border-color: rgb(255, 255, 255);
}
